/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  color: var(--accent-color-text);
  background-image: var(--background-image);
  background-color: var(--accent-color-background);
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Inter-Variable', sans-serif;
  font-variation-settings: 'wght' var(--font-weight-text);
  inline-size: min(100%, 700px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-color-background);
  margin-top: 100px;
  border: 2px solid var(--accent-color);
  font-family: 'PressStart2P', fantasy;
}

/*
.header__cover {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'PressStart2P', sans-serif;
}*/

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
  text-decoration: none;
  padding-top: clamp(120px, 10vw, 136px);
}

.header__cover-title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  padding-top: 20px;
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  font-size: 14px;
  padding-left: 20px;
  margin-bottom: 24px;
}

button {
  font-family: 'PressStart2P', fantasy;
}

.theme-menu__item:nth-child(n+2) {
  padding-top: 12px;
}

.theme-menu__button {
  text-transform: uppercase;
  border: none;
  background: none;
  position: relative;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  cursor: pointer;
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

.theme-menu__button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  outline: none;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.theme-menu__button::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  opacity: 0;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
}

.theme-menu__button:focus-visible::after {
  opacity: 0.6;
  transform: scaleX(1);
  transition: 0.3s;
}

.theme-menu__button::before {
  content: '▶';
  position: absolute;
  opacity: 0;
  transform: scaleX(0);
  animation: triangle-animate alternate infinite ease-in-out 0.5s;
  inset-inline-start: -20px;
}

.theme-menu__button[disabled]::before {
  opacity: 0.6;
}

.main {
  margin-top: 100px;
}

.content__card {
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color-background);
}

.content__card:nth-child(n+2) {
  margin-top: 50px;
}

.image-label {
  opacity: 0.5;
  position: absolute;
  font-family: 'PressStart2P', fantasy;
  top: 25px;
  right: 11px;
  mix-blend-mode: hard-light;
  font-size: 14px;
  text-shadow: 
    -1px 0 var(--accent-color-background),
    0px 1px var(--accent-color-background),
    1px 0 var(--accent-color-background),
    0px -1px var(--accent-color-background);
  color: var(--accent-color);
}

@media (width>=376px) {
  .image-label {
    top: 27px;
    right: 25px;
  }
}

.image__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

@supports ((text-stroke: 1px var(--accent-color-background)) or (-webkit-text-stroke: 1px var(--accent-color-background))) {
  .image-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--accent-color-background);
    text-stroke: 1px var(--accent-color-background);
  }
}

.content__card-title {
  font-size: 18px;
  font-variation-settings: "wght" var(--font-weight-title);
  padding: 5px 10px 5px 10px;
}

.content__card-text {
  padding: 21px 25px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.content__card p:last-of-type {
  padding-top: 27px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  padding: 25px;
}

/*.card__like-button*/
.button {
  background: none;
  padding: 9px 0;
  text-align: center;
  cursor: pointer;
  border: 2px solid var(--accent-color);
  position: relative;
  transition: 0.5s ease-in-out;
}

.card__like-button {
  width: 130px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

/*.content__card*/ .button::after {
  content: '';
  position: absolute;
  background-color: var(--accent-color);
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transform: scaleX(0);
  transform-origin: left center;
  inset: 0;
}

.button:hover:after {
  transform: scale(1);
}

.button__text {
  font-size: 14px;
  position: relative;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
}


.content__card img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
}

.like-icon {
  width: 39px;
  height: 34px;
  outline: none;
}

.card-wrapper .card__like-button {
  margin-left: 6px;
}

.sparks {
  opacity: 0;
}

.core {
  transition-delay: 0.03s;
  transition-duration: 0.3s;
  fill: transparent;
}

.like-icon:hover .core {
  fill: var(--heart-hover);
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.main-body {
  transition-delay: 0s;
  transition-duration: 0.3s;
  fill: transparent;
}

.like-icon:hover .main-body {
  fill: var(--heart-hover);
  transition-delay: 0.05s;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.like-icon.is-liked .core {
  fill: #FF0000;
  transition-delay: 0s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .main-body {
  fill: #FF0000;
  transition-delay: 0.05s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .contour {
  fill: #FF0000;
  transition-delay: 0.06s;
  transition-duration: 0.3s;
}

.like-icon.is-liked .sparks {
  animation-name: heart-animation-spark;
  animation-delay: 0.3s;
  animation-duration: 0.3s;
  animation-timing-function: ease-in;
}

.is-liked .heart {
  transform-origin: center;
  animation-name: heart-animation-scale;
  animation-delay: 0.1s;
  animation-duration: 0.3s;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.like-icon:active .core {
  fill: #FF0000;
}

.like-icon:active .main-body {
  fill: #FF0000;
}

.like-icon .contour {
  fill: var(--accent-color-text);
}

.card__icon-button {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid var(--accent-color);
}

.floppy {
  width: 28px;
  height: 28px;
  position: relative;
  color: var(--color-button-text);
  mix-blend-mode: difference;
  z-index: 1;
}

.save__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 306px;
  border: 2px solid var(--accent-color);
  background-color: var(--accent-color-background);
  margin: 50px auto;
  padding: 15px 20px;
  gap: 8px;
  cursor: pointer;
}

@media (min-width:376px) {
  .save__button {
    flex-direction: row;
  }

  .floppy {
    width: 21px;
    height: 21px;
  }
}

.modal-window[open] {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  min-width: 341px;
  background-color: var(--accent-color-background);
  border: 2px solid var(--accent-color);
}

.floppy__modal {
  width: 39px;
  height: 39px;
  margin-top: 12px;
}

.modal-window-title {
  font-size: 14px;
  font-weight: var(--font-weight-text);
  font-family: 'PressStart2P', fantasy;
  text-transform: uppercase;
  min-width: 216px;
  max-width: 234px;
  padding: 0 0 30px 20px;
  color: var(--accent-color);
  line-height: 21px;
}
/*
.button__modal {
  max-width: 257px;
  width: 100%;
}*/

.modal-window::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

dialog .button {
  width: 100%;
}

.image__blur {
  filter: blur(7px);
}

.image__grayscale {
  filter: grayscale(0.6);
}

.image__saturate {
  filter: saturate(350%);
}

.image__hue-rotate {
  filter: hue-rotate(30deg);
}

.image__invert {
  filter: invert(0.8);
}

.image__sepia {
  filter: sepia(100%);
}

.image__muliple-filter {
  filter: invert(0.2) hue-rotate(30deg) saturate(20%);
}